#footer {
  font-size: 1.1em;
  clear: both;
  .logo {
    display: block;
    &.mb-xl {
      margin-bottom: 12px;
    }
  }
}

.footer-copyright {
  background-color: #444f60;
  border-top: 5px solid #00d2b2;
  margin-top: 40px;
  padding: 30px 0 10px;
  p {
    color: #ffffff;
    margin: 0;
    padding: 0;
  }
  a {
    color: #98a9c3;
    &:hover {
      color: #fcfcfc;
    }
  }
}
