article.post-large .post-date {
  margin-left: -60px;
}

.post-meta {
  font-size: 0.9em;
  margin-bottom: 7px;
}
.post-meta > span {
  display: inline-block;
  padding-right: 8px;
}
.post-meta i {
  margin-right: 3px;
}

.single-post article {
  border-bottom: 0;
  margin-bottom: 0;
}

article.blog-single-post .post-meta {
  margin-bottom: 20px;
}

.post-block {
  border-top: 1px solid #DDD;
  margin: 15px 0 0 0;
  padding: 20px 0 15px 0;
}
.post-block h3 {
  font-size: 1.8em;
  font-weight: 200;
  margin: 0 0 20px;
  text-transform: none;
}
.post-block h3 i {
  margin-right: 7px;
}
