.search-form {
  hr.taller {
    margin: 50px 0;
  }
  .btn-primary {
    background-color: #00d2b2;
    border-color: #00d2b2;
    &:hover {
      background-color: #3c8070;
      border-color: #3c8070;
    }
  }
  .form-control:focus {
    border-color: #00d2b2;
    box-shadow: none;
  }
}
