
.post-large .btn-primary {
  background-color: #00d2b2;
  border-color: #00d2b2;
}
.post-large .btn-primary:hover {
  background-color: #ffffff;
  border-color: #00d2b2;
  color: #00d2b2;
}

article {
  border-bottom: 1px solid #DDD;
  margin-bottom: 50px;
  padding-bottom: 10px;
}
article.post h2 a {
  color: #444F60;
  text-decoration: none;
}
article.post h2 a:hover {
  color: #00d2b2;
  text-decoration: none;
}
article.post .post-meta {
  font-size: 0.9em;
  margin-bottom: 7px;
}
article.post .post-meta > span {
  display: inline-block;
  padding-right: 8px;
}
article.post .post-meta i {
  margin-right: 3px;
}
.post-meta-link {
  color: #444F60;
  text-decoration: none;
}
.post-meta-link:hover {
  color: #00d2b2;
  text-decoration: none;
}

article.post-large {
  margin-left: 60px;
}
article.post-large h2 {
  margin-bottom: 5px;
}
article.post-large .post-date {
  margin-left: -60px;
}
